In [1]:
import requests  
import requests
import bs4
import time
import pandas as pd
import datetime
import urllib.parse
from bs4 import BeautifulSoup

In [10]:
soup = BeautifulSoup(url, 'html.parser')

c:\Users\tsc95\anaconda3\lib\site-packages\bs4\__init__.py:404: MarkupResemblesLocatorWarning: The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

In [38]:
today = datetime.date.today()
tomorrow = today + datetime.timedelta(days=1)
url = f'https://sulocale.sulopachinews.com/archives/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/{tomorrow.strftime("%m%d")}'
print(url)
res = requests.get(url)

soup = BeautifulSoup(res.text, 'html.parser')
# Specify the tag you want to remove
#rt


import re

s = soup.text

# Print the modified HTML
# print(soup)
# birthday_dfs = pd.read_html(soup.prettify())
# display(birthday_dfs[0])
# soup = BeautifulSoup(html, 'html.parser')
s = str(soup)
reg = '<rt>.*?</rt>'
print(re.findall(reg, s))
rt_list = re.findall(reg, s)    
# ['{123}', '{abc}']
soup_str = str(soup)
for replace_str in rt_list: 
    soup_str = soup_str.replace(replace_str, '')
soup = BeautifulSoup(soup_str, 'html.parser')
birthday_dfs = pd.read_html(soup.prettify())
display(birthday_dfs[0])

https://sulocale.sulopachinews.com/archives/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/1229
['<rt>たかやまさよこ</rt>', '<rt>たかかもあやの</rt>', '<rt>ごうでんつばさ</rt>', '<rt>たまきのぞみ</rt>']

                                 0
0                       12月29日が誕生日
1  ？  高山紗代子  (  アイドルマスターミリオンライブ  )
2           ？  高鴨綾乃  （  咲-Saki-  ）
3      ？  ナイダン・ムンフバト（  ケンガンアシュラ  ）
4              ？  水戸北さくらこ（  MGM  ）
5   ？  ダルザナ・マグバレッジ  （  アルドノア・ゼロ  ）

In [35]:
print(soup.text)

12月29日が誕生日のパチンコ＆スロットに関連したキャラクター











































































            Slot Calendar～スロカレ～











  作品一覧
 誕生日一覧
 記念日一覧
 雑記




      P・S業界の記念日、登場キャラの誕生日とか






ホーム 12月29日が誕生日のパチンコ＆スロットに関連したキャラクター















カレンダー







日時:

			2019年12月29日 終日



			Repeats



2019-12-29T00:00:00+09:00
2019-12-30T00:00:00+09:00






 誕生日




パチンコ＆スロットに関連したキャラ＆声優の誕生日情報です。
勝負機種に迷ったら誕生日・記念日から関連作品を選択する事もアリかもしれません。今はお店からアピールする事が出来ない時代なので、打ち手からアピールしていきましょう！※既に設置が無い又は少ない機種の誕生日はグレー表示しています。
12月29日が誕生日のパチ＆スロキャラ
※パチンコ＆スロット化された作品に登場したキャラをまとめていますが、パチンコ＆スロットには登場していない場合もあります。又一部噂段階のタイトルも含まれます。※はP&S由来キャラ、はメインキャラ、はPホールマスコットキャラです。



12月29日が誕生日


？  高山紗代子(アイドルマスターミリオンライブ)


？ 高鴨綾乃（咲-Saki-）


？ ナイダン・ムンフバト（ケンガンアシュラ）


？ 水戸北さくらこ（MGM）


？ ダルザナ・マグバレッジ（アルドノア・ゼロ）






12月29日が誕生日の声優
※パチンコ＆スロット化された作品に出演した声優をまとめていますが、パチンコ＆スロットには出演していない場合もあります。又一部噂段階のタイトルも含まれます。※はP&S由来キャラ、はメインキャラです。



？ 郷田翼さん ？歳 ？型





パチ＆スロ化の噂の無い作品


幸村輝彦（ようこそ実力至上主義の教室へ）







？ 珠木のぞみさん ？歳 ？型





 ヒナ（紅き紅は桜の如く）








ラッキーナンバー












他の占いを試してみる。




今日の記念日
12月29日はグレゴリオ暦で年始から363日目（閏年では364日目）にあたり、年末まであと2日
12月29日の記念日シャンソンの日福の日
12月29日の誕生花プリムラジュリアンホオズキ
今日の星座♑（山羊座）12宮：磨羯宮ラテン語：Capricornエレメント：地色：茶
12月の誕生石トルコ石タンザナイトラピスラズリジルコン




関連記事
誕生日一覧声優の誕生日ライターの誕生日記念日一覧作品一覧過去作一覧ホールグループ公式キャラタイアップ作品
























パチ＆スロキャラの誕生日





12月
1
金





												終日


											誕生月が12月のパチンコ＆スロット...





誕生月が12月のパチンコ＆スロット...


					12月 1日 ～ 12月 31日 終日









												終日


											誕生月が12月の声優一覧





誕生月が12月の声優一覧


					12月 1日 ～ 12月 31日 終日










12月
28
木





												終日


											12月28日が誕生日のパチンコ＆スロ...





12月28日が誕生日のパチンコ＆スロ...


					12月 28日 終日










12月
29
金





												終日


											12月29日が誕生日のパチンコ＆スロ...





12月29日が誕生日のパチンコ＆スロ...


					12月 29日 終日










12月
30
土





												終日


											12月30日が誕生日のパチンコ＆スロ...





12月30日が誕生日のパチンコ＆スロ...


					12月 30日 終日










12月
31
日





												終日


											12月31日が誕生日のパチンコ＆スロ...





12月31日が誕生日のパチンコ＆スロ...


					12月 31日 終日










1月
1
月





												終日


											1月1日が誕生日のパチンコ＆スロッ...





1月1日が誕生日のパチンコ＆スロッ...


					1月 1日 終日









												終日


											誕生月が1月のパチンコ＆スロット...





誕生月が1月のパチンコ＆スロット...


					1月 1日 ～ 1月 31日 終日









												終日


											誕生月が1月の声優一覧





誕生月が1月の声優一覧


					1月 1日 ～ 1月 31日 終日











新台予定





1月
9
火





												終日


											1月9日導入開始予定機種





1月9日導入開始予定機種


					1月 9日 終日










2月
19
月





												終日


											2月19日導入開始予定機種





2月19日導入開始予定機種


					2月 19日 終日










3月
4
月





												終日


											3月4日導入開始予定機種





3月4日導入開始予定機種


					3月 4日 終日











パチ＆スロ関連の記念日





2月
28
水





												終日


											ニューパルサーの日





ニューパルサーの日


					2月 28日 終日










3月
4
月





												終日


											パチンコ・パチスロメーカー「SANY...





パチンコ・パチスロメーカー「SANY...


					3月 4日 終日










3月
31
日





												終日


											サミーの日





サミーの日


					3月 31日 終日











パチ&スロ関連のイベント





1月
1
月





												終日


											毎月実施されるイベント





毎月実施されるイベント


					1月 1日 終日










2月
1
木





												終日


											毎月実施されるイベント





毎月実施されるイベント


					2月 1日 終日










3月
1
金





												終日


											毎月実施されるイベント





毎月実施されるイベント


					3月 1日 終日











スロペディア





1月
2
火





												終日


											豊口めぐみ スロペディア





豊口めぐみ スロペディア


					1月 2日 終日










1月
13
土





												終日


											三澤紗千香 スロペディア





三澤紗千香 スロペディア


					1月 13日 終日










1月
17
水





												終日


											上田麗奈 スロペディア





上田麗奈 スロペディア


					1月 17日 終日












人気記事（24時間）

















 スロカレ


 スロカレについて
 サイトマップ
 お問い合わせ


						© 2023						Slot Calendar～スロカレ～						All rights reserved.

In [21]:
new_soup = soup.rt
new_soup

In [114]:
def scraping_yesterday_groupby_prefecture_tenpo_data(prefecture:str) -> str:
    yesterday = datetime.date.today() - datetime.timedelta(days=1)
    date = yesterday.strftime('%Y-%m-%d')
    print(date)
    quote_prefecture = urllib.parse.quote(prefecture)
    url = f'https://ana-slo.com/{date}-{quote_prefecture }-hallpickup/'
    #print(url)    res = requests.get(url_1)
    soup = bs4.BeautifulSoup(res.text, 'html.parser')
    dfs = pd.read_html(res.text)
    concat_df = pd.DataFrame(columns=[],index=[])
    div_list = main_content.find_all(True, class_='')
    for i,div in enumerate(div_list):
        #print(i,str(div))
        if '<div>' in str(div):
            try:
                #print(div.find('a').text)
                concat_df
                tenpo_name = div.find('a').text
                _df = pd.read_html(str(div))[0]
                _df['店舗名'] = tenpo_name
                concat_df = pd.concat([concat_df,_df],axis=0) 
            except:
                pass
    emoji_list = ['🥇','🥈','🥉','🎖','🎖']
    #文字列 昨日を曜日も加えてstr型に変換
    week = ['月','火','水','木','金','土','日']
    date = yesterday.strftime('%m').lstrip('0') + '月' + yesterday.strftime('%d').lstrip('0') + '日' \
    + '(' + week[yesterday.weekday()] + ')'
    #print(date)

    data_text =''
    for emoji ,(i,row) in zip(emoji_list,concat_df.iterrows()):
        #print(i,row)
        tenpo_name = row['店舗名']
        sum_medal = '{:,}'.format(round(int(row['総差枚']), -2))
        if int(row['総差枚']) > 0:
            sum_medal = '+' + sum_medal + '枚'

        ave_medal = str(row['平均差枚']) 
        if int(row['平均差枚']) > 0:
            ave_medal = '+' + ave_medal + '枚'
        daisuu = row['勝率'].split('(')[1].replace(')','')+ '台'
        data_text += f'{emoji}{tenpo_name}\n 総差{sum_medal} 平均{ave_medal} {daisuu}\n'
    #print(data_text)

    output_text = f'''〈{date}速報〉\n【{prefecture.replace('都','').replace('県','')} 平均差枚ランキングTOP5】\n\n'''
    #print(output_text)
    output_text += data_text
    #print(output_text)
    return output_text

In [115]:
output_text = scraping_yesterday_groupby_prefecture_tenpo_data('埼玉県')
print(output_text)

def post_line_image_and_text(message,image_path,line_token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ line_token}
    payload = {"message" :  message}
    #imagesフォルダの中のgazo.jpg
    print('image_path',image_path)
    files = {"imageFile":open(image_path,'rb')}
    post = requests.post(url ,headers = headers ,params=payload,files=files)

def post_line_image_and_text(message,line_token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ line_token}
    payload = {"message" :  message}
    post = requests.post(url ,headers = headers ,params=payload)

2023-07-13
〈7月13日(木)速報〉
【埼玉 平均差枚ランキングTOP5】

🥇ミリオン東武練馬13号店
 総差+80,300枚 平均+590枚 62/136台
🥈ビックディッパー門前仲町店
 総差+43,400枚 平均+308枚 58/141台
🥉エスパス1300新小岩北口駅前店
 総差+89,900枚 平均+196枚 210/458台
🎖ジャラン五反田店
 総差+57,000枚 平均+171枚 148/334台
🎖エムディー目黒
 総差+18,800枚 平均+165枚 47/114台

In [17]:
main_content = soup.find(True, class_='entry-content')

In [34]:
str(div)

'<p></p>'

In [40]:
'div' in '<div>'

True

In [56]:
div.find('a').text

'ミリオン東武練馬13号店'

In [58]:
concat_df = pd.DataFrame(columns=[],index=[])
div_list = main_content.find_all(True, class_='')
for i,div in enumerate(div_list):
    #print(i,str(div))
    if '<div>' in str(div):
        try:
            print(div.find('a').text)
            concat_df
            tenpo_name = div.find('a').text
            _df = pd.read_html(str(div))[0]
            _df['店舗名'] = tenpo_name
            concat_df = pd.concat([concat_df,_df],axis=0) 
        except:
            pass
concat_df

ミリオン東武練馬13号店
ビックディッパー門前仲町店
エスパス1300新小岩北口駅前店
ジャラン五反田店
エムディー目黒

   平均差枚    総差枚  平均G数              勝率               店舗名
0   590  80287  5220   45.6%(62/136)      ミリオン東武練馬13号店
0   308  43433  2212   41.1%(58/141)     ビックディッパー門前仲町店
0   196  89900  4444  45.9%(210/458)  エスパス1300新小岩北口駅前店
0   171  56990  5427  44.3%(148/334)          ジャラン五反田店
0   165  18758  2773   41.2%(47/114)           エムディー目黒

In [81]:
row['勝率'].split('(')[1].replace(')','')

'47/114'

🥇ミリオン東武練馬13号店
 総差+80,300枚 平均+590枚 62/136台
🥈ビックディッパー門前仲町店
 総差+43,400枚 平均+308枚 58/141台
🥉エスパス1300新小岩北口駅前店
 総差+89,900枚 平均+196枚 210/458台
🎖ジャラン五反田店
 総差+57,000枚 平均+171枚 148/334台
🎖エムディー目黒
 総差+18,800枚 平均+165枚 47/114台

In [ ]:
# 〈7月7日(金)速報〉
# 【東京 平均差枚ランキングTOP5】

# 🥇マルハン昭島
# 総差+137,400枚 平均+603枚 138/228台

# 🥈メッセ高円寺
# 総差+156,048枚 平均+470枚 163/332台

# 🥉楽園渋谷駅前
# 総差+150,693枚 平均+461枚 154/327台

# 🎖マルハン池袋
# 総差+115,100枚 平均+451枚 143/255台

# 🎖マルハン亀有
# 総差+170,000枚 平均+447枚 202/380台

In [84]:
emoji_list = ['🥇','🥈','🥉','🎖','🎖']
#文字列 昨日を曜日も加えてstr型に変換
yesterday = datetime.date.today() + datetime.timedelta(days=1)
week = ['月','火','水','木','金','土','日']
date = yesterday.strftime('%m').lstrip('0') + '月' + yesterday.strftime('%d').lstrip('0') + '日' \
+ '(' + week[yesterday.weekday()] + ')'
print(date)

data_text =''
for emoji ,(i,row) in zip(emoji_list,concat_df.iterrows()):
    #print(i,row)
    tenpo_name = row['店舗名']
    sum_medal = '{:,}'.format(round(int(row['総差枚']), -2))
    if int(row['総差枚']) > 0:
        sum_medal = '+' + sum_medal + '枚'
        
    ave_medal = str(row['平均差枚']) 
    if int(row['平均差枚']) > 0:
        ave_medal = '+' + ave_medal + '枚'
    daisuu = row['勝率'].split('(')[1].replace(')','')+ '台'
        
    data_text += f'{emoji}{tenpo_name}\n 総差{sum_medal} 平均{ave_medal} {daisuu}\n'
print(data_text)

output_text = f'''〈{date}速報〉
【{prefecture} 平均差枚ランキングTOP5】\n\n'''
#print(output_text)
output_text += data_text
print(output_text)

〈7月15日(土)速報〉
【東京都 平均差枚ランキングTOP5】

🥇ミリオン東武練馬13号店
 総差+80,300枚 平均+590枚 62/136台
🥈ビックディッパー門前仲町店
 総差+43,400枚 平均+308枚 58/141台
🥉エスパス1300新小岩北口駅前店
 総差+89,900枚 平均+196枚 210/458台
🎖ジャラン五反田店
 総差+57,000枚 平均+171枚 148/334台
🎖エムディー目黒
 総差+18,800枚 平均+165枚 47/114台

7月15日(土)

In [16]:
class="entry-content"

In [19]:
concat_df = pd.read_csv('csv/brithday_df.csv')

In [20]:
concat_df['date'] = str(today.year) +'/' + concat_df['month'].astype(str) + '/' + concat_df['day'].astype(str)
concat_df['date'] = pd.to_datetime(concat_df['date'], format='%Y/%m/%d')
concat_df

      month  day              name      affiliation       date
0         1    1                モモ        アニマルマンション 2023-01-01
1         1    1  ラインハルト・ヴァン・アストレア  Re:ゼロから始める異世界生活 2023-01-01
2         1    1          才賀エレオノール         からくりサーカス 2023-01-01
3         1    1               角谷杏       ガールズ＆パンツァー 2023-01-01
4         1    1              アシリパ         ゴールデンカムイ 2023-01-01
...     ...  ...               ...              ...        ...
2197     12   31             山田一二三      ダンガンロンパシリーズ 2023-12-31
2198     12   31               黎星刻           コードギアス 2023-12-31
2199     12   31                雪泉            閃乱カグラ 2023-12-31
2200     12   31          キャロライン雷電          宇宙戦艦ヤマト 2023-12-31
2201     12   31           ヴィリディアナ     ガールズアンドパンツァー 2023-12-31

[2202 rows x 5 columns]

In [264]:



#明日の誕生日の人を抽出
#extract_df = concat_df[concat_df['day'] == '明日']

## 声優の誕生日データのスクレイピング

In [20]:
# 明日の日付を生成
import datetime
today = datetime.date.today()
tomorrow = today + datetime.timedelta(days=1)
url = f'https://sulocale.sulopachinews.com/archives/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/{tomorrow.strftime("%m%d")}'
print(url)
birthday_dfs = pd.read_html(url)
birthday_dfs
#pd.DataFrame(columns=['month', 'day', 'name','affiliation'])
for df in birthday_dfs:
    display(df)

https://sulocale.sulopachinews.com/archives/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/0624

                            0
0                   6月24日が誕生日
1  ？ 北条沙都子ほうじょうさとこ（ひぐらしのなく頃に）
2          ？ 吉備土きびと（甲鉄城のカバネリ）
3        ？ 天田乾あまだけん（ペルソナシリーズ）
4       ？ 筧至鋼かけいしごう（アルドノア・ゼロ）
5      ？ 蟹座のデスマスクきゃんさー（聖闘士星矢）

                             0
0       ？ 岩永哲哉いわながてつやさん 52歳 A型
1     鹿目知久かなめともひさ（魔法少女まどか☆マギカ）
2  相田ケンスケあいだけんすけ（エヴァンゲリオンシリーズ）

                     0
0  ？ 塩屋翼しおやよくさん 64歳 B型
1    小泉こいずみ（ひぐらしのなく頃に）

                     0
0  ？ 西田健にしだけんさん 77歳 B型
1           ゴーダ（攻殻機動隊）

                     0
0  ？ 松重慎まつしげしんさん ？歳 ？型
1        ジャガ・イモ（陰の実力者）

                            0
0  ？ 綿貫竜之介わたぬきりゅうのすけさん 31歳 O型
1              輝宗てるむね（政宗シリーズ）
2              テオ/ワイーヨ（七つの大罪）
3          ツギーデ・マッケンジー（陰の実力者）

                            0
0  ？ 鷄冠井美智子かいでんみちこさん（型） ？歳 ？型
1          倉之助くらのすけ（甲鉄城のカバネリ）
2       水鏡有子みかがみゆうこ（蒼穹のファフナー）
3               婢妖ひょう（うしおととら）

                        0
0  ？ 桑原由気くわはらゆうきさん 31歳 O型
1          ひまわり（サミーマスコット）
2  岸間菫きしますみれ（ハイスクール・フリート）
3          時雨しぐれ（アズールレーン）
4   メイーナ（Re:ゼロから始める異世界生活）
5        ユエ（ありふれた職業で世界最強）

                       0
0   ？ 辻坂茜つじさかあかねさん ？歳 A型
1  岸田稚慧きしだちえ（ガールフレンド(仮)）

                      0
0  ？ 米丸歩よねまるあゆみさん ？歳 ？型
1  鷺森公子さぎもりきみこ（咲-Saki-）

    0   1
0 NaN NaN

In [21]:
charactor_birthday_df = pd.DataFrame(columns=[ 'キャラクター名','登場作品'])
for text in birthday_dfs[0][0][1:]:
    text = text.replace(')','）').replace('？','')
    charactor_name = text.split('（')[0].replace(' ','').replace(' ','')
    charactor_affiliation = text.split('（')[1].replace('(仮','(仮)').replace('）','')
    print(charactor_name,charactor_affiliation)
    charactor_birthday_df = pd.concat([charactor_birthday_df,pd.DataFrame({'キャラクター名':[charactor_name],'登場作品':[charactor_affiliation]})],axis=0)
    
charactor_birthday_df

北条沙都子ほうじょうさとこ ひぐらしのなく頃に
吉備土きびと 甲鉄城のカバネリ
天田乾あまだけん ペルソナシリーズ
筧至鋼かけいしごう アルドノア・ゼロ
蟹座のデスマスクきゃんさー 聖闘士星矢

         キャラクター名       登場作品
0  北条沙都子ほうじょうさとこ  ひぐらしのなく頃に
0         吉備土きびと   甲鉄城のカバネリ
0       天田乾あまだけん   ペルソナシリーズ
0      筧至鋼かけいしごう   アルドノア・ゼロ
0  蟹座のデスマスクきゃんさー      聖闘士星矢

In [22]:
cv_birthday_df = pd.DataFrame(columns=[ '声優','キャラクター名','登場作品'])
for i in range(1,len(birthday_dfs)):
    temp__birthday_df = birthday_dfs[i]
    #display(temp__birthday_df)
    try:
        vc_name = temp__birthday_df.loc[0][0].lstrip('？').split(' ')[1].replace('（型）','').rstrip('さん')
        vc_name = vc_name.replace(' ','').replace(' ','')

        for n in range(1,len(temp__birthday_df)):
            text = temp__birthday_df.loc[n][0].replace(')','）').replace('？','')
            charactor_name = text.split('（')[0].replace(' ','').replace(' ','')
            charactor_affiliation = text.split('（')[1].replace('(仮','(仮)').replace('）','')
            cv_birthday_df = pd.concat([cv_birthday_df,pd.DataFrame({'声優':[vc_name],'キャラクター名':[charactor_name],'登場作品':[charactor_affiliation]})],axis=0)
        #break
    except Exception as e:
        print(e)
        continue
cv_birthday_df

'numpy.float64' object has no attribute 'lstrip'

                声優        キャラクター名             登場作品
0      岩永哲哉いわながてつや    鹿目知久かなめともひさ      魔法少女まどか☆マギカ
0      岩永哲哉いわながてつや  相田ケンスケあいだけんすけ     エヴァンゲリオンシリーズ
0         塩屋翼しおやよく         小泉こいずみ        ひぐらしのなく頃に
0          西田健にしだけ            ゴーダ            攻殻機動隊
0         松重慎まつしげし         ジャガ・イモ            陰の実力者
0  綿貫竜之介わたぬきりゅうのすけ         輝宗てるむね           政宗シリーズ
0  綿貫竜之介わたぬきりゅうのすけ        テオ/ワイーヨ            七つの大罪
0  綿貫竜之介わたぬきりゅうのすけ    ツギーデ・マッケンジー            陰の実力者
0    鷄冠井美智子かいでんみちこ       倉之助くらのすけ         甲鉄城のカバネリ
0    鷄冠井美智子かいでんみちこ    水鏡有子みかがみゆうこ         蒼穹のファフナー
0    鷄冠井美智子かいでんみちこ          婢妖ひょう           うしおととら
0      桑原由気くわはらゆうき           ひまわり         サミーマスコット
0      桑原由気くわはらゆうき      岸間菫きしますみれ      ハイスクール・フリート
0      桑原由気くわはらゆうき          時雨しぐれ          アズールレーン
0      桑原由気くわはらゆうき           メイーナ  Re:ゼロから始める異世界生活
0      桑原由気くわはらゆうき             ユエ     ありふれた職業で世界最強
0       辻坂茜つじさかあかね      岸田稚慧きしだちえ       ガールフレンド(仮)
0       米丸歩よねまるあゆみ    鷺森公子さぎもりきみこ          咲-Saki-

In [23]:
url = f'https://kerokero-info.com/what_today_calendar/what-today-{tomorrow.strftime("%m%d")}-1/'
res = requests.get(url)
soup = bs4.BeautifulSoup(res.text, 'html.parser')
print(soup.title.text)

ドレミの日の由来と面白い雑学、6月24日の今日は何の日？ | 雑学.com

In [287]:
cv_birthday_df

                    声優         キャラクター名         登場作品
0   各務立基かがみりきさん　52歳AB型             オーガ            兄
0      平修たいらおさむさん　？歳？型           章央あきお         頭文字D
0  真木駿一まきしゅんいちさん　32歳A型         ヒークヴァール   盾の勇者の成り上がり
0   麻倉ももあさくらももさん　28歳O型     伊良子美柑いらこみかん  ハイスクール・フリート
0  水野マリコみずのまりこさん　37歳A型  エイスリン・ウィッシュアート      咲-Saki-

In [62]:
cv_birthday_df

                声優        キャラクター名             登場作品
0      岩永哲哉いわながてつや    鹿目知久かなめともひさ      魔法少女まどか☆マギカ
0      岩永哲哉いわながてつや  相田ケンスケあいだけんすけ     エヴァンゲリオンシリーズ
0         塩屋翼しおやよく         小泉こいずみ        ひぐらしのなく頃に
0          西田健にしだけ            ゴーダ            攻殻機動隊
0         松重慎まつしげし         ジャガ・イモ            陰の実力者
0  綿貫竜之介わたぬきりゅうのすけ         輝宗てるむね           政宗シリーズ
0  綿貫竜之介わたぬきりゅうのすけ        テオ/ワイーヨ            七つの大罪
0  綿貫竜之介わたぬきりゅうのすけ    ツギーデ・マッケンジー            陰の実力者
0    鷄冠井美智子かいでんみちこ       倉之助くらのすけ         甲鉄城のカバネリ
0    鷄冠井美智子かいでんみちこ    水鏡有子みかがみゆうこ         蒼穹のファフナー
0    鷄冠井美智子かいでんみちこ          婢妖ひょう           うしおととら
0      桑原由気くわはらゆうき           ひまわり         サミーマスコット
0      桑原由気くわはらゆうき      岸間菫きしますみれ      ハイスクール・フリート
0      桑原由気くわはらゆうき          時雨しぐれ          アズールレーン
0      桑原由気くわはらゆうき           メイーナ  Re:ゼロから始める異世界生活
0      桑原由気くわはらゆうき             ユエ     ありふれた職業で世界最強
0       辻坂茜つじさかあかね      岸田稚慧きしだちえ       ガールフレンド(仮)
0       米丸歩よねまるあゆみ    鷺森公子さぎもりきみこ          咲-Saki-

In [271]:
index_number+1 == len(cv_birthday_df)

False

In [ ]:
from PIL import Image,ImageFont,ImageDraw


def get_concat_h_multi_resize(im_list, resample=Image.BICUBIC):
    min_height = min(im.height for im in im_list)
    im_list_resize = [im.resize((int(im.width * min_height / im.height), min_height),resample=resample)
                    for im in im_list]
    total_width = sum(im.width for im in im_list_resize)
    dst = Image.new('RGB', (total_width, min_height))
    pos_x = 0
    for im in im_list_resize:
        dst.paste(im, (pos_x, 0))
        pos_x += im.width
    return dst

def get_concat_v_multi_resize(im_list, resample=Image.BICUBIC):
    min_width = min(im.width for im in im_list)
    im_list_resize = [im.resize((min_width, int(im.height * min_width / im.width)),resample=resample)
                    for im in im_list]
    total_height = sum(im.height for im in im_list_resize)
    dst = Image.new('RGB', (min_width, total_height))
    pos_y = 0
    for im in im_list_resize:
        dst.paste(im, (0, pos_y))
        pos_y += im.height
    return dst

def create_charactor_anime_cell_image(_df,image_name):
    global create_df_cell_image_path
    width_concat_lists = []
    font = ImageFont.truetype('font/NotoSansJP-Black.otf', 20)
    df_columns_list = list(_df.columns)
    cell_height = 40
    for column_number in range(len(_df.columns)):
        height_concat_lists = []
        #print(column_number)
        #print(df_columns_list[column_number])
        if df_columns_list[column_number] == 'キャラクター名':
            
            cell_width = 500
        elif df_columns_list[column_number] == '登場作品':
            cell_width = 500
        elif df_columns_list[column_number] == '声優':
            font = ImageFont.truetype('font/NotoSansJP-Black.otf', 38)
            cell_width = 500
            cell_height = 60
        elif df_columns_list[column_number] == '何の日？':
            font = ImageFont.truetype('font/NotoSansJP-Black.otf', 13)
            cell_width = 500
            cell_height = 25
        elif df_columns_list[column_number] == '日付':
            cell_width = 100
            cell_height = 25
        else:
            cell_width = 300
            font = ImageFont.truetype('font/NotoSansJP-Black.otf', 20)
            cell_height = 40
        #print(cell_width,cell_height)
        im = Image.new('RGB', (cell_width, cell_height), (0, 0, 200))  # イメージオブジェクトの生成(黒のベタ画像)
        draw = ImageDraw.Draw(im)  # Drawオブジェクトを生成  
        # フォントの指定(メイリオ48pt)
        w, h = im.size
        draw.multiline_text((cell_width/2,cell_height/2), df_columns_list[column_number], fill=(255,255,255), font=font, align ="center",anchor="mm") # 文字の描画
        w, h = im.size
        draw.rectangle((0, 0, w-1, h-1), outline = (255,255,255))
        height_concat_lists.append(im)
        name = '' #cv_birthday_df['声優'].iloc[0]
        count = 1
        for index_number ,(i,record) in enumerate(_df.iterrows()):
            #print('df_columns_list[column_number]',df_columns_list[column_number])
            if index_number == 0 and df_columns_list[column_number] == '声優':
                name = f'{record[column_number]}'
                continue
            if df_columns_list[column_number] == '声優':
                print('name',name)
                print('record[column_number',record[column_number])
                font = ImageFont.truetype('font/NotoSansJP-Black.otf', 32)
                if name == f'{record[column_number]}':
                    print('同じ名前',count)
                    count += 1
                else:
                    print('違う名前',count)
                    print((count*cell_height))
                    im = Image.new('RGB', (cell_width, (count*cell_height)), (255, 255, 255))
                    draw = ImageDraw.Draw(im) 
                    w, h = im.size
                    draw.multiline_text(((cell_width)/2,(count*cell_height)/2), f'{name}', fill=(0,0,0), font=font,anchor="mm",align ="center")
                    draw.rectangle((0, 0, w-1, h-1), outline = (0,0,0))
                    height_concat_lists.append(im)
                    count = 1
                name = f'{record[column_number]}'
                if index_number+1 == len(cv_birthday_df):
                    im = Image.new('RGB', (cell_width, (count*cell_height)), (255, 255, 255))
                    draw = ImageDraw.Draw(im) 
                    w, h = im.size
                    draw.multiline_text(((cell_width)/2,(count*cell_height)/2), f'{name}', fill=(0,0,0), font=font,anchor="mm",align ="center")
                    draw.rectangle((0, 0, w-1, h-1), outline = (0,0,0))
                    height_concat_lists.append(im)
                    count = 1
            elif df_columns_list[column_number] == '何の日？':
                im = Image.new('RGB', (cell_width, cell_height), (221, 255, 255)) 
                draw = ImageDraw.Draw(im)  # Drawオブジェクトを生成  
                font = ImageFont.truetype('font/NotoSansJP-Black.otf', 13)
                draw.multiline_text((cell_width/2,cell_height/2), f'{record[column_number]}', fill=(0,0,0), font=font,anchor="mm",align ="center") 
                w, h = im.size
                draw.rectangle((0, 0, w-1, h-1), outline = (0,0,0))
                height_concat_lists.append(im)# イメージオブジェクトの生成(黒のベタ画像)

            else:
                if (index_number + 1 ) %  2 != 0:
                    im = Image.new('RGB', (cell_width, cell_height), (255, 255, 255))  # イメージオブジェクトの生成(黒のベタ画像)
                else:
                    im = Image.new('RGB', (cell_width, cell_height), (221, 255, 255))  # イメージオブジェクトの生成(黒のベタ画像)
                draw = ImageDraw.Draw(im)  # Drawオブジェクトを生成  
                
                draw.multiline_text((cell_width/2,cell_height/2), f'{record[column_number]}', fill=(0,0,0), font=font,anchor="mm",align ="center") 
                w, h = im.size
                draw.rectangle((0, 0, w-1, h-1), outline = (0,0,0))
                height_concat_lists.append(im)
            
        #break
        concat_image_path  = rf"image/temp_image/complted_cell_{column_number}.png"
        get_concat_v_multi_resize(height_concat_lists).save(concat_image_path)
        concat_im = Image.open(concat_image_path)
        width_concat_lists.append(concat_im)
    create_df_cell_image_path = rf"image/temp_image/temp_complted_df_image_cell_{image_name}.png"
    get_concat_h_multi_resize(width_concat_lists).save(create_df_cell_image_path)
    return create_df_cell_image_path

completed_height_concat_lists = []
concat_im = Image.open('image/header_image.png')
completed_height_concat_lists.append(concat_im)

concat_image_path = create_charactor_anime_cell_image(extract_universary_df,'テスト3')
concat_im = Image.open(concat_image_path)
completed_height_concat_lists.append(concat_im)

concat_image_path = create_charactor_anime_cell_image(charactor_birthday_df,'テスト1')
concat_im = Image.open(concat_image_path)
completed_height_concat_lists.append(concat_im)

concat_image_path = create_charactor_anime_cell_image(cv_birthday_df,'テスト2')
concat_im = Image.open(concat_image_path)
completed_height_concat_lists.append(concat_im)

concat_image_path  = rf"image/temp_image/complted_image_1.png"
get_concat_v_multi_resize(completed_height_concat_lists).save(concat_image_path)

img = Image.open(concat_image_path)  # イメージを開く
print("元の画像サイズ　width: {}, height: {}".format(img.size[0], img.size[1]))  # 元の画像のサイズ出力
# 画像を指定したサイズに変更
img_resize = img.resize((1500, 2000))  # 画像のリサイズ
print("指定サイズ　width: {}, height: {}".format(img_resize.size[0], img_resize.size[1]))  # 画像のサイズ出力
img_resize.save(concat_image_path)

In [49]:
extract_universary_df['日付'].iloc[0]

'6月24日'

ひぐらしのなく頃に

         キャラクター名       登場作品
0  北条沙都子ほうじょうさとこ  ひぐらしのなく頃に

甲鉄城のカバネリ

  キャラクター名      登場作品
0  吉備土きびと  甲鉄城のカバネリ

ペルソナシリーズ

    キャラクター名      登場作品
0  天田乾あまだけん  ペルソナシリーズ

アルドノア・ゼロ

     キャラクター名      登場作品
0  筧至鋼かけいしごう  アルドノア・ゼロ

聖闘士星矢

         キャラクター名   登場作品
0  蟹座のデスマスクきゃんさー  聖闘士星矢

キャラクターの誕生日一覧

ひぐらしのなく頃に
・北条沙都子ほうじょうさとこ
甲鉄城のカバネリ
・吉備土きびと
ペルソナシリーズ
・天田乾あまだけん
アルドノア・ゼロ
・筧至鋼かけいしごう
聖闘士星矢
・蟹座のデスマスクきゃんさー

In [68]:
cv_birthday_df

                声優        キャラクター名             登場作品
0      岩永哲哉いわながてつや    鹿目知久かなめともひさ      魔法少女まどか☆マギカ
0      岩永哲哉いわながてつや  相田ケンスケあいだけんすけ     エヴァンゲリオンシリーズ
0         塩屋翼しおやよく         小泉こいずみ        ひぐらしのなく頃に
0          西田健にしだけ            ゴーダ            攻殻機動隊
0         松重慎まつしげし         ジャガ・イモ            陰の実力者
0  綿貫竜之介わたぬきりゅうのすけ         輝宗てるむね           政宗シリーズ
0  綿貫竜之介わたぬきりゅうのすけ        テオ/ワイーヨ            七つの大罪
0  綿貫竜之介わたぬきりゅうのすけ    ツギーデ・マッケンジー            陰の実力者
0    鷄冠井美智子かいでんみちこ       倉之助くらのすけ         甲鉄城のカバネリ
0    鷄冠井美智子かいでんみちこ    水鏡有子みかがみゆうこ         蒼穹のファフナー
0    鷄冠井美智子かいでんみちこ          婢妖ひょう           うしおととら
0      桑原由気くわはらゆうき           ひまわり         サミーマスコット
0      桑原由気くわはらゆうき      岸間菫きしますみれ      ハイスクール・フリート
0      桑原由気くわはらゆうき          時雨しぐれ          アズールレーン
0      桑原由気くわはらゆうき           メイーナ  Re:ゼロから始める異世界生活
0      桑原由気くわはらゆうき             ユエ     ありふれた職業で世界最強
0       辻坂茜つじさかあかね      岸田稚慧きしだちえ       ガールフレンド(仮)
0       米丸歩よねまるあゆみ    鷺森公子さぎもりきみこ          咲-Saki-

In [66]:
extract_df

         キャラクター名   登場作品
0  蟹座のデスマスクきゃんさー  聖闘士星矢

In [76]:
print(text)

6月24日 今日は何の日？
◆キャラクターの誕生日一覧
ひぐらしのなく頃に
・北条沙都子ほうじょうさとこ
甲鉄城のカバネリ
・吉備土きびと
ペルソナシリーズ
・天田乾あまだけん
アルドノア・ゼロ
・筧至鋼かけいしごう
聖闘士星矢
・蟹座のデスマスクきゃんさー

◆声優の誕生日一覧
岩永哲哉いわながてつや
・鹿目知久かなめともひさ 魔法少女まどか☆マギカ
・相田ケンスケあいだけんすけ エヴァンゲリオンシリーズ
塩屋翼しおやよく
・小泉こいずみ ひぐらしのなく頃に
西田健にしだけ
・ゴーダ 攻殻機動隊
松重慎まつしげし
・ジャガ・イモ 陰の実力者
綿貫竜之介わたぬきりゅうのすけ
・輝宗てるむね 政宗シリーズ
・テオ/ワイーヨ 七つの大罪
・ツギーデ・マッケンジー 陰の実力者
鷄冠井美智子かいでんみちこ
・倉之助くらのすけ 甲鉄城のカバネリ
・水鏡有子みかがみゆうこ 蒼穹のファフナー
・婢妖ひょう うしおととら
桑原由気くわはらゆうき
・ひまわり サミーマスコット
・岸間菫きしますみれ ハイスクール・フリート
・時雨しぐれ アズールレーン
・メイーナ Re:ゼロから始める異世界生活
・ユエ ありふれた職業で世界最強
辻坂茜つじさかあかね
・岸田稚慧きしだちえ ガールフレンド(仮)
米丸歩よねまるあゆみ
・鷺森公子さぎもりきみこ 咲-Saki-

In [77]:
try:
    from src.utils import *
except:
    from utils import *

twitter = UtilsTwitterClass()
twitter.line_token = 'XUH4AbvcovvtXHvfDBGN1PPyQwwTlf0qgWL1My4NyYL'

読み込み完了

In [74]:
birthday = extract_universary_df['日付'].iloc[0]
text = f'{birthday} 今日は何の日？'
text += '\n◆キャラクターの誕生日一覧'
virtday_count_dict = dict(charactor_birthday_df['登場作品'].value_counts())
birthday_dict_tuple = sorted(virtday_count_dict.items(), key=lambda x:x[1], reverse=True)
for affitation in birthday_dict_tuple:
    print(affitation[0])
    extract_df = charactor_birthday_df[charactor_birthday_df['登場作品'] == affitation[0]]
    display(extract_df)
    text += f'\n{affitation[0]}'
    for index, row in extract_df.iterrows():
        text += f'\n・{row["キャラクター名"]}'
print(text) 

text += '\n\n◆声優の誕生日一覧'

for affitation in cv_birthday_df['声優'].unique():
    print(affitation[0])
    extract_df = cv_birthday_df[cv_birthday_df['声優'] == affitation]
    display(extract_df)
    text += f'\n{affitation}'
    for index, row in extract_df.iterrows():
        text += f'\n・{row["キャラクター名"]} {row["登場作品"]}'
print(text)

ひぐらしのなく頃に

         キャラクター名       登場作品
0  北条沙都子ほうじょうさとこ  ひぐらしのなく頃に

甲鉄城のカバネリ

  キャラクター名      登場作品
0  吉備土きびと  甲鉄城のカバネリ

ペルソナシリーズ

    キャラクター名      登場作品
0  天田乾あまだけん  ペルソナシリーズ

アルドノア・ゼロ

     キャラクター名      登場作品
0  筧至鋼かけいしごう  アルドノア・ゼロ

聖闘士星矢

         キャラクター名   登場作品
0  蟹座のデスマスクきゃんさー  聖闘士星矢

6月24日 今日は何の日？
◆キャラクターの誕生日一覧
ひぐらしのなく頃に
・北条沙都子ほうじょうさとこ
甲鉄城のカバネリ
・吉備土きびと
ペルソナシリーズ
・天田乾あまだけん
アルドノア・ゼロ
・筧至鋼かけいしごう
聖闘士星矢
・蟹座のデスマスクきゃんさー
岩

            声優        キャラクター名          登場作品
0  岩永哲哉いわながてつや    鹿目知久かなめともひさ   魔法少女まどか☆マギカ
0  岩永哲哉いわながてつや  相田ケンスケあいだけんすけ  エヴァンゲリオンシリーズ

塩

         声優 キャラクター名       登場作品
0  塩屋翼しおやよく  小泉こいずみ  ひぐらしのなく頃に

西

        声優 キャラクター名   登場作品
0  西田健にしだけ     ゴーダ  攻殻機動隊

松

         声優 キャラクター名   登場作品
0  松重慎まつしげし  ジャガ・イモ  陰の実力者

綿

                声優      キャラクター名    登場作品
0  綿貫竜之介わたぬきりゅうのすけ       輝宗てるむね  政宗シリーズ
0  綿貫竜之介わたぬきりゅうのすけ      テオ/ワイーヨ   七つの大罪
0  綿貫竜之介わたぬきりゅうのすけ  ツギーデ・マッケンジー   陰の実力者

鷄

              声優      キャラクター名      登場作品
0  鷄冠井美智子かいでんみちこ     倉之助くらのすけ  甲鉄城のカバネリ
0  鷄冠井美智子かいでんみちこ  水鏡有子みかがみゆうこ  蒼穹のファフナー
0  鷄冠井美智子かいでんみちこ        婢妖ひょう    うしおととら

桑

            声優    キャラクター名             登場作品
0  桑原由気くわはらゆうき       ひまわり         サミーマスコット
0  桑原由気くわはらゆうき  岸間菫きしますみれ      ハイスクール・フリート
0  桑原由気くわはらゆうき      時雨しぐれ          アズールレーン
0  桑原由気くわはらゆうき       メイーナ  Re:ゼロから始める異世界生活
0  桑原由気くわはらゆうき         ユエ     ありふれた職業で世界最強

辻

           声優    キャラクター名        登場作品
0  辻坂茜つじさかあかね  岸田稚慧きしだちえ  ガールフレンド(仮)

米

           声優      キャラクター名     登場作品
0  米丸歩よねまるあゆみ  鷺森公子さぎもりきみこ  咲-Saki-

6月24日 今日は何の日？
◆キャラクターの誕生日一覧
ひぐらしのなく頃に
・北条沙都子ほうじょうさとこ
甲鉄城のカバネリ
・吉備土きびと
ペルソナシリーズ
・天田乾あまだけん
アルドノア・ゼロ
・筧至鋼かけいしごう
聖闘士星矢
・蟹座のデスマスクきゃんさー

◆声優の誕生日一覧
岩永哲哉いわながてつや
・鹿目知久かなめともひさ 魔法少女まどか☆マギカ
・相田ケンスケあいだけんすけ エヴァンゲリオンシリーズ
塩屋翼しおやよく
・小泉こいずみ ひぐらしのなく頃に
西田健にしだけ
・ゴーダ 攻殻機動隊
松重慎まつしげし
・ジャガ・イモ 陰の実力者
綿貫竜之介わたぬきりゅうのすけ
・輝宗てるむね 政宗シリーズ
・テオ/ワイーヨ 七つの大罪
・ツギーデ・マッケンジー 陰の実力者
鷄冠井美智子かいでんみちこ
・倉之助くらのすけ 甲鉄城のカバネリ
・水鏡有子みかがみゆうこ 蒼穹のファフナー
・婢妖ひょう うしおととら
桑原由気くわはらゆうき
・ひまわり サミーマスコット
・岸間菫きしますみれ ハイスクール・フリート
・時雨しぐれ アズールレーン
・メイーナ Re:ゼロから始める異世界生活
・ユエ ありふれた職業で世界最強
辻坂茜つじさかあかね
・岸田稚慧きしだちえ ガールフレンド(仮)
米丸歩よねまるあゆみ
・鷺森公子さぎもりきみこ 咲-Saki-

In [7]:
output_text = ''
text_list  = 'aaaaaaaaa。bbbbbb。ccccccccccc。dddddddddddd。eeeeeeeeeee。ffffffff。gggggggggg。hhhhhhhhh。iiiiiiii。jjjjjjjjj'.split('。')
for i,text in enumerate(text_list):
    i += 1
    #print(text)
    if i > 9:
        break
    if i % 3 == 0:
        output_text += text + ',\n'
    else:
        output_text += text + ','
print(output_text)

aaaaaaaaa,bbbbbb,ccccccccccc,
dddddddddddd,eeeeeeeeeee,ffffffff,
gggggggggg,hhhhhhhhh,iiiiiiii,

In [7]:

import MeCab #Mecabインポート
wakati = MeCab.Tagger('-Owakati') #分かち書きモードのインスタンス作成

split_name_list = wakati.parse('大場ゆいおおばゆい').split()
split_name_list

['大場', 'ゆい', 'おおば', 'ゆい']

In [13]:
import collections
c = dict(collections.Counter(split_name_list))
print(c)

{'大場': 1, 'ゆい': 2, 'おおば': 1}

In [53]:
sorted(c.items(), key=lambda x:x[1], reverse=True)

[('ゆい', 2), ('大場', 1), ('おおば', 1)]

In [17]:
'大場ゆいおおばゆい'.split('ゆい')

['大場', 'おおば', '']

In [24]:
url = 'https://netwadai.com/blog/post-2363'
universary_df  = pd.read_html(url)[0]
universary_df = universary_df.rename(columns={0:'日付',1:'何の日？'})
universary_df = universary_df[~universary_df['日付'].str.contains('記念日一覧')]
universary_df = universary_df[~universary_df['日付'].str.contains('2月29日')]
#pd.DataFrame(columns=['month', 'day', 'name','affiliation'])
display(universary_df)
tomorrow_str:str = tomorrow.strftime("%m月").lstrip('0') + tomorrow.strftime("%d日").lstrip('0') 
extract_universary_df = universary_df[universary_df['日付'].str.contains(tomorrow_str)]
extract_universary_df

         日付                                               何の日？
1      1月1日  神戸港記念日。元旦。鉄腕アトムの日。初詣。太陽暦施行の日。点字新聞創刊記念日。 パブリックド...
2      1月2日                           ロケットの日。初夢。初売り・初荷・初商・書き初め
3      1月3日                                瞳の日。駆け落ちの日。戊辰戦争開戦の日
4      1月4日                                       石の日。御用始め・大発会
5      1月5日        いちごの日。囲碁の日。シンデレラの日。魚河岸初競り。つむぎの日。ホームセキュリティの日
..      ...                                                ...
372  12月26日          ボクシング・デー。プロ野球誕生の日（ジャイアンツの日）。雪印の日。聖ステファノの日
373  12月27日                                  ピーターパンの日。浅草仲見世記念日
374  12月28日          ディスクジョッキーの日。身体検査の日。仕事納め・官公庁御用納め。シネマトグラフの日
376  12月30日                         地下鉄記念日。取引所大納会。フィリピン・リサールの日
377  12月31日                       大晦日。シンデレラデー。除夜。大祓。ニューイヤーズ・イヴ

[364 rows x 2 columns]

        日付              何の日？
181  6月24日  UFO記念日。ドレミの日。麦の日

['キャラクター名', '登場作品']

In [186]:
column_number = 0
df_columns_list[column_number]

'キャラクター名'

In [253]:
index_number

25

In [ ]:

for i,month in enumerate(soup.find_all(True, class_='accordion main_c')):
    #print(month)
    i += 1
    month_str :str = i 
    month.find_all('p')
    for p_text in month.find_all('p'):
        if p_text.text.replace('日','').isalnum():
            day = p_text.text.replace('日','')
        else:
            for row in p_text.text.replace(')','）').split('）'):
              try:
                  name = row.split('（')[0].replace(' ','').replace(' ','')
                  affiliation = row.split('（')[1].replace('(仮','(仮)')
                  #print(name,)
                  record = pd.DataFrame({'month': [month_str],
                      'day': [day],
                      'name': [name],
                      'affiliation':[affiliation]})
                  concat_df = pd.concat([concat_df,record],axis=0)
              except:
                  pass