In [3]:
import requests  
import requests
import bs4
import time
import pandas as pd
concat_df = pd.DataFrame(columns=['month', 'day', 'name','affiliation'])
# GETメソッドによるWebページの取得
url = f'https://sulocale.sulopachinews.com/archives/209'
print(url)
res = requests.get(url)
soup = bs4.BeautifulSoup(res.text, 'html.parser')
print(soup.title.text)
for i,month in enumerate(soup.find_all(True, class_='accordion main_c')):
    #print(month)
    i += 1
    month_str :str = i 
    month.find_all('p')
    for p_text in month.find_all('p'):
        if p_text.text.replace('日','').isalnum():
            day = p_text.text.replace('日','')
        else:
            for row in p_text.text.replace(')','）').split('）'):
              try:
                  name = row.split('（')[0].replace(' ','').replace(' ','')
                  affiliation = row.split('（')[1].replace('(仮','(仮)')
                  #print(name,)
                  record = pd.DataFrame({'month': [month_str],
                      'day': [day],
                      'name': [name],
                      'affiliation':[affiliation]})
                  concat_df = pd.concat([concat_df,record],axis=0)
              except:
                  pass
    


  #break

# Webページの内容
  # 出力結果は省略

# ステータスコード

https://sulocale.sulopachinews.com/archives/209
誕生日一覧

In [16]:
concat_df.to_csv('brithday_df.csv',index=False)

In [19]:
concat_df = pd.read_csv('csv/brithday_df.csv')

In [20]:
concat_df['date'] = str(today.year) +'/' + concat_df['month'].astype(str) + '/' + concat_df['day'].astype(str)
concat_df['date'] = pd.to_datetime(concat_df['date'], format='%Y/%m/%d')
concat_df

      month  day              name      affiliation       date
0         1    1                モモ        アニマルマンション 2023-01-01
1         1    1  ラインハルト・ヴァン・アストレア  Re:ゼロから始める異世界生活 2023-01-01
2         1    1          才賀エレオノール         からくりサーカス 2023-01-01
3         1    1               角谷杏       ガールズ＆パンツァー 2023-01-01
4         1    1              アシリパ         ゴールデンカムイ 2023-01-01
...     ...  ...               ...              ...        ...
2197     12   31             山田一二三      ダンガンロンパシリーズ 2023-12-31
2198     12   31               黎星刻           コードギアス 2023-12-31
2199     12   31                雪泉            閃乱カグラ 2023-12-31
2200     12   31          キャロライン雷電          宇宙戦艦ヤマト 2023-12-31
2201     12   31           ヴィリディアナ     ガールズアンドパンツァー 2023-12-31

[2202 rows x 5 columns]

In [264]:



#明日の誕生日の人を抽出
#extract_df = concat_df[concat_df['day'] == '明日']

## 声優の誕生日データのスクレイピング

In [290]:
# 明日の日付を生成
import datetime
today = datetime.date.today()
tomorrow = today + datetime.timedelta(days=1)
url = f'https://sulocale.sulopachinews.com/archives/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/{tomorrow.strftime("%m%d")}'
print(url)
birthday_dfs = pd.read_html(url)
birthday_dfs
#pd.DataFrame(columns=['month', 'day', 'name','affiliation'])
for df in birthday_dfs:
    display(df)

https://sulocale.sulopachinews.com/archives/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/0624

                            0
0                   6月24日が誕生日
1  ？ 北条沙都子ほうじょうさとこ（ひぐらしのなく頃に）
2          ？ 吉備土きびと（甲鉄城のカバネリ）
3        ？ 天田乾あまだけん（ペルソナシリーズ）
4       ？ 筧至鋼かけいしごう（アルドノア・ゼロ）
5      ？ 蟹座のデスマスクきゃんさー（聖闘士星矢）

                             0
0       ？ 岩永哲哉いわながてつやさん 52歳 A型
1     鹿目知久かなめともひさ（魔法少女まどか☆マギカ）
2  相田ケンスケあいだけんすけ（エヴァンゲリオンシリーズ）

                     0
0  ？ 塩屋翼しおやよくさん 64歳 B型
1    小泉こいずみ（ひぐらしのなく頃に）

                     0
0  ？ 西田健にしだけんさん 77歳 B型
1           ゴーダ（攻殻機動隊）

                     0
0  ？ 松重慎まつしげしんさん ？歳 ？型
1        ジャガ・イモ（陰の実力者）

                            0
0  ？ 綿貫竜之介わたぬきりゅうのすけさん 31歳 O型
1              輝宗てるむね（政宗シリーズ）
2              テオ/ワイーヨ（七つの大罪）
3          ツギーデ・マッケンジー（陰の実力者）

                            0
0  ？ 鷄冠井美智子かいでんみちこさん（型） ？歳 ？型
1          倉之助くらのすけ（甲鉄城のカバネリ）
2       水鏡有子みかがみゆうこ（蒼穹のファフナー）
3               婢妖ひょう（うしおととら）

                        0
0  ？ 桑原由気くわはらゆうきさん 31歳 O型
1          ひまわり（サミーマスコット）
2  岸間菫きしますみれ（ハイスクール・フリート）
3          時雨しぐれ（アズールレーン）
4   メイーナ（Re:ゼロから始める異世界生活）
5        ユエ（ありふれた職業で世界最強）

                       0
0   ？ 辻坂茜つじさかあかねさん ？歳 A型
1  岸田稚慧きしだちえ（ガールフレンド(仮)）

                      0
0  ？ 米丸歩よねまるあゆみさん ？歳 ？型
1  鷺森公子さぎもりきみこ（咲-Saki-）

    0   1
0 NaN NaN

In [92]:

birthday_text = birthday_dfs[0].loc[0][0]
print(birthday_text)

1月の記念日一覧

In [283]:
charactor_birthday_df = pd.DataFrame(columns=[ 'キャラクター名','登場作品'])
for text in birthday_dfs[0][0][1:]:
    text = text.replace(')','）').replace('？','')
    charactor_name = text.split('（')[0].replace(' ','').replace(' ','')
    charactor_affiliation = text.split('（')[1].replace('(仮','(仮)').replace('）','')
    print(charactor_name,charactor_affiliation)
    charactor_birthday_df = pd.concat([charactor_birthday_df,pd.DataFrame({'キャラクター名':[charactor_name],'登場作品':[charactor_affiliation]})],axis=0)
    
charactor_birthday_df

花垣武道はながきたけみち 東京リベンジャーズ
柏木渚かしわぎなぎ かぐや様は告らせたい
ビビアン 七つの大罪
藤田靖子ふじたやすこ 咲-Saki-
コアラ ガールズアンドパンツァー

        キャラクター名          登場作品
0  花垣武道はながきたけみち     東京リベンジャーズ
0     柏木渚かしわぎなぎ    かぐや様は告らせたい
0          ビビアン         七つの大罪
0    藤田靖子ふじたやすこ       咲-Saki-
0           コアラ  ガールズアンドパンツァー

In [291]:
cv_birthday_df = pd.DataFrame(columns=[ '声優','キャラクター名','登場作品'])
for i in range(1,len(birthday_dfs)):
    temp__birthday_df = birthday_dfs[i]
    #display(temp__birthday_df)
    try:
        vc_name = temp__birthday_df.loc[0][0].lstrip('？').split(' ')[1] +'　'\
            + temp__birthday_df.loc[0][0].lstrip('？').split(' ')[2]\
            + temp__birthday_df.loc[0][0].lstrip('？').split(' ')[3]
        vc_name = vc_name.replace(' ','').replace(' ','')

        for n in range(1,len(temp__birthday_df)):
            text = temp__birthday_df.loc[n][0].replace(')','）').replace('？','')
            charactor_name = text.split('（')[0].replace(' ','').replace(' ','')
            charactor_affiliation = text.split('（')[1].replace('(仮','(仮)').replace('）','')
            cv_birthday_df = pd.concat([cv_birthday_df,pd.DataFrame({'声優':[vc_name],'キャラクター名':[charactor_name],'登場作品':[charactor_affiliation]})],axis=0)
        #break
    except Exception as e:
        print(e)
        continue
cv_birthday_df

'numpy.float64' object has no attribute 'lstrip'

                        声優        キャラクター名             登場作品
0      岩永哲哉いわながてつやさん　52歳A型    鹿目知久かなめともひさ      魔法少女まどか☆マギカ
0      岩永哲哉いわながてつやさん　52歳A型  相田ケンスケあいだけんすけ     エヴァンゲリオンシリーズ
0         塩屋翼しおやよくさん　64歳B型         小泉こいずみ        ひぐらしのなく頃に
0         西田健にしだけんさん　77歳B型            ゴーダ            攻殻機動隊
0         松重慎まつしげしんさん　？歳？型         ジャガ・イモ            陰の実力者
0  綿貫竜之介わたぬきりゅうのすけさん　31歳O型         輝宗てるむね           政宗シリーズ
0  綿貫竜之介わたぬきりゅうのすけさん　31歳O型        テオ/ワイーヨ            七つの大罪
0  綿貫竜之介わたぬきりゅうのすけさん　31歳O型    ツギーデ・マッケンジー            陰の実力者
0  鷄冠井美智子かいでんみちこさん（型）　？歳？型       倉之助くらのすけ         甲鉄城のカバネリ
0  鷄冠井美智子かいでんみちこさん（型）　？歳？型    水鏡有子みかがみゆうこ         蒼穹のファフナー
0  鷄冠井美智子かいでんみちこさん（型）　？歳？型          婢妖ひょう           うしおととら
0      桑原由気くわはらゆうきさん　31歳O型           ひまわり         サミーマスコット
0      桑原由気くわはらゆうきさん　31歳O型      岸間菫きしますみれ      ハイスクール・フリート
0      桑原由気くわはらゆうきさん　31歳O型          時雨しぐれ          アズールレーン
0      桑原由気くわはらゆうきさん　31歳O型           メイーナ  Re:ゼロから始める異世界生活
0      桑原由気くわはらゆうきさん　31歳O型             ユエ     ありふれた職業で世界最強
0        辻坂茜つじさかあかねさん　？歳A型      岸田稚慧きしだちえ       ガールフレンド(仮)
0        米丸歩よねまるあゆみさん　？歳？型    鷺森公子さぎもりきみこ          咲-Saki-

In [72]:
url = f'https://kerokero-info.com/what_today_calendar/what-today-{tomorrow.strftime("%m%d")}-1/'
res = requests.get(url)
soup = bs4.BeautifulSoup(res.text, 'html.parser')
print(soup.title.text)

オリンピックデーの由来と面白い雑学、6月23日の今日は何の日？ | 雑学.com

       date                                            content
1      1月1日  神戸港記念日。元旦。鉄腕アトムの日。初詣。太陽暦施行の日。点字新聞創刊記念日。 パブリックド...
2      1月2日                           ロケットの日。初夢。初売り・初荷・初商・書き初め
3      1月3日                                瞳の日。駆け落ちの日。戊辰戦争開戦の日
4      1月4日                                       石の日。御用始め・大発会
5      1月5日        いちごの日。囲碁の日。シンデレラの日。魚河岸初競り。つむぎの日。ホームセキュリティの日
..      ...                                                ...
372  12月26日          ボクシング・デー。プロ野球誕生の日（ジャイアンツの日）。雪印の日。聖ステファノの日
373  12月27日                                  ピーターパンの日。浅草仲見世記念日
374  12月28日          ディスクジョッキーの日。身体検査の日。仕事納め・官公庁御用納め。シネマトグラフの日
376  12月30日                         地下鉄記念日。取引所大納会。フィリピン・リサールの日
377  12月31日                       大晦日。シンデレラデー。除夜。大祓。ニューイヤーズ・イヴ

[364 rows x 2 columns]

      date                         content
182  6月25日  住宅デー。サザンの日。加須市うどんの日。指定自動車教習所の日

In [287]:
cv_birthday_df

                    声優         キャラクター名         登場作品
0   各務立基かがみりきさん　52歳AB型             オーガ            兄
0      平修たいらおさむさん　？歳？型           章央あきお         頭文字D
0  真木駿一まきしゅんいちさん　32歳A型         ヒークヴァール   盾の勇者の成り上がり
0   麻倉ももあさくらももさん　28歳O型     伊良子美柑いらこみかん  ハイスクール・フリート
0  水野マリコみずのまりこさん　37歳A型  エイスリン・ウィッシュアート      咲-Saki-

In [288]:
cv_birthday_df

                    声優         キャラクター名         登場作品
0   各務立基かがみりきさん　52歳AB型             オーガ            兄
0      平修たいらおさむさん　？歳？型           章央あきお         頭文字D
0  真木駿一まきしゅんいちさん　32歳A型         ヒークヴァール   盾の勇者の成り上がり
0   麻倉ももあさくらももさん　28歳O型     伊良子美柑いらこみかん  ハイスクール・フリート
0  水野マリコみずのまりこさん　37歳A型  エイスリン・ウィッシュアート      咲-Saki-

In [271]:
index_number+1 == len(cv_birthday_df)

False

In [302]:
from PIL import Image,ImageFont,ImageDraw


def get_concat_h_multi_resize(im_list, resample=Image.BICUBIC):
    min_height = min(im.height for im in im_list)
    im_list_resize = [im.resize((int(im.width * min_height / im.height), min_height),resample=resample)
                    for im in im_list]
    total_width = sum(im.width for im in im_list_resize)
    dst = Image.new('RGB', (total_width, min_height))
    pos_x = 0
    for im in im_list_resize:
        dst.paste(im, (pos_x, 0))
        pos_x += im.width
    return dst

def get_concat_v_multi_resize(im_list, resample=Image.BICUBIC):
    min_width = min(im.width for im in im_list)
    im_list_resize = [im.resize((min_width, int(im.height * min_width / im.width)),resample=resample)
                    for im in im_list]
    total_height = sum(im.height for im in im_list_resize)
    dst = Image.new('RGB', (min_width, total_height))
    pos_y = 0
    for im in im_list_resize:
        dst.paste(im, (0, pos_y))
        pos_y += im.height
    return dst

def create_charactor_anime_cell_image(_df,image_name):
    global create_df_cell_image_path
    width_concat_lists = []
    font = ImageFont.truetype('font/MochiyPopOne-OTF-ExtraBold.otf', 18)
    df_columns_list = list(_df.columns)
    for column_number in range(len(_df.columns)):
        height_concat_lists = []
        #print(column_number)
        #print(df_columns_list[column_number])
        if df_columns_list[column_number] == 'キャラクター名':
            cell_width = 500
        elif df_columns_list[column_number] == '登場作品':
            cell_width = 500
        elif df_columns_list[column_number] == '声優':
            cell_width = 500
        elif df_columns_list[column_number] == '何の日？':
            cell_width = 500
        else:
            cell_width = 300
        cell_height = 40
        #print(cell_width,cell_height)
        im = Image.new('RGB', (cell_width, cell_height), (0, 0, 200))  # イメージオブジェクトの生成(黒のベタ画像)
        draw = ImageDraw.Draw(im)  # Drawオブジェクトを生成  
        # フォントの指定(メイリオ48pt)
        draw.multiline_text((cell_width/2, 20), df_columns_list[column_number], fill=(255,255,255), font=font, align ="center",anchor="mm") # 文字の描画
        w, h = im.size
        draw.rectangle((0, 0, w-1, h-1), outline = (255,255,255))
        height_concat_lists.append(im)
        name = '' #cv_birthday_df['声優'].iloc[0]
        count = 1
        for index_number ,(i,record) in enumerate(_df.iterrows()):
            #print('df_columns_list[column_number]',df_columns_list[column_number])
            if index_number == 0 and df_columns_list[column_number] == '声優':
                name = f'{record[column_number]}'
                continue
            if df_columns_list[column_number] == '声優':
                print('name',name)
                print('record[column_number',record[column_number])
                if name == f'{record[column_number]}':
                    print('同じ名前',count)
                    count += 1
                else:
                    print('違う名前',count)
                    print((count*cell_height))
                    im = Image.new('RGB', (cell_width, (count*cell_height)), (255, 255, 255))
                    draw = ImageDraw.Draw(im) 
                    w, h = im.size
                    draw.multiline_text(((cell_width)/2,(count*cell_height)/2), f'{name}', fill=(0,0,0), font=font,anchor="mm",align ="center")
                    draw.rectangle((0, 0, w-1, h-1), outline = (0,0,0))
                    height_concat_lists.append(im)
                    count = 1
                name = f'{record[column_number]}'
                if index_number+1 == len(cv_birthday_df):
                    im = Image.new('RGB', (cell_width, (count*cell_height)), (255, 255, 255))
                    draw = ImageDraw.Draw(im) 
                    w, h = im.size
                    draw.multiline_text(((cell_width)/2,(count*cell_height)/2), f'{name}', fill=(0,0,0), font=font,anchor="mm",align ="center")
                    draw.rectangle((0, 0, w-1, h-1), outline = (0,0,0))
                    height_concat_lists.append(im)
                    count = 1
            else:
                if (index_number + 1 ) %  2 != 0:
                    im = Image.new('RGB', (cell_width, cell_height), (255, 255, 255))  # イメージオブジェクトの生成(黒のベタ画像)
                else:
                    im = Image.new('RGB', (cell_width, cell_height), (221, 255, 255))  # イメージオブジェクトの生成(黒のベタ画像)
                draw = ImageDraw.Draw(im)  # Drawオブジェクトを生成  
                
                draw.multiline_text((cell_width/2,10), f'{record[column_number]}', fill=(0,0,0), font=font,anchor="ma") 
                
                draw.multiline_text((cell_width/2,10), f'{record[column_number]}', fill=(0,0,0), font=font,anchor="ma")
                draw.rectangle((0, 0, w-1, h-1), outline = (0,0,0))
                height_concat_lists.append(im)
            
        #break
        concat_image_path  = rf"image/temp_image/complted_cell_{column_number}.png"
        get_concat_v_multi_resize(height_concat_lists).save(concat_image_path)
        concat_im = Image.open(concat_image_path)
        width_concat_lists.append(concat_im)
    create_df_cell_image_path = rf"image/temp_image/temp_complted_df_image_cell_{image_name}.png"
    get_concat_h_multi_resize(width_concat_lists).save(create_df_cell_image_path)
    return create_df_cell_image_path

completed_height_concat_lists = []
concat_im = Image.open('image/header_image.png')
completed_height_concat_lists.append(concat_im)

concat_image_path = create_charactor_anime_cell_image(charactor_birthday_df,'テスト1')
concat_im = Image.open(concat_image_path)
completed_height_concat_lists.append(concat_im)

concat_image_path = create_charactor_anime_cell_image(cv_birthday_df,'テスト2')
concat_im = Image.open(concat_image_path)
completed_height_concat_lists.append(concat_im)

concat_image_path = create_charactor_anime_cell_image(extract_universary_df,'テスト3')
concat_im = Image.open(concat_image_path)
completed_height_concat_lists.append(concat_im)

concat_image_path  = rf"image/temp_image/complted_image_1.png"
get_concat_v_multi_resize(completed_height_concat_lists).save(concat_image_path)

C:\Users\tsc95\AppData\Local\Temp\ipykernel_41456\1817842966.py:4: DeprecationWarning: BICUBIC is deprecated and will be removed in Pillow 10 (2023-07-01). Use Resampling.BICUBIC instead.
  def get_concat_h_multi_resize(im_list, resample=Image.BICUBIC):
C:\Users\tsc95\AppData\Local\Temp\ipykernel_41456\1817842966.py:16: DeprecationWarning: BICUBIC is deprecated and will be removed in Pillow 10 (2023-07-01). Use Resampling.BICUBIC instead.
  def get_concat_v_multi_resize(im_list, resample=Image.BICUBIC):

name 岩永哲哉いわながてつやさん　52歳A型
record[column_number 岩永哲哉いわながてつやさん　52歳A型
同じ名前 1
name 岩永哲哉いわながてつやさん　52歳A型
record[column_number 塩屋翼しおやよくさん　64歳B型
違う名前 2
80
name 塩屋翼しおやよくさん　64歳B型
record[column_number 西田健にしだけんさん　77歳B型
違う名前 1
40
name 西田健にしだけんさん　77歳B型
record[column_number 松重慎まつしげしんさん　？歳？型
違う名前 1
40
name 松重慎まつしげしんさん　？歳？型
record[column_number 綿貫竜之介わたぬきりゅうのすけさん　31歳O型
違う名前 1
40
name 綿貫竜之介わたぬきりゅうのすけさん　31歳O型
record[column_number 綿貫竜之介わたぬきりゅうのすけさん　31歳O型
同じ名前 1
name 綿貫竜之介わたぬきりゅうのすけさん　31歳O型
record[column_number 綿貫竜之介わたぬきりゅうのすけさん　31歳O型
同じ名前 2
name 綿貫竜之介わたぬきりゅうのすけさん　31歳O型
record[column_number 鷄冠井美智子かいでんみちこさん（型）　？歳？型
違う名前 3
120
name 鷄冠井美智子かいでんみちこさん（型）　？歳？型
record[column_number 鷄冠井美智子かいでんみちこさん（型）　？歳？型
同じ名前 1
name 鷄冠井美智子かいでんみちこさん（型）　？歳？型
record[column_number 鷄冠井美智子かいでんみちこさん（型）　？歳？型
同じ名前 2
name 鷄冠井美智子かいでんみちこさん（型）　？歳？型
record[column_number 桑原由気くわはらゆうきさん　31歳O型
違う名前 3
120
name 桑原由気くわはらゆうきさん　31歳O型
record[column_number 桑原由気くわはらゆうきさん　31歳O型
同じ名前 1
name 桑原由気くわはらゆうきさん　31歳O型
record[column_number 桑原由気くわはらゆうきさん　31歳O型
同じ名前 2
name 桑原由気くわはらゆうきさん　31歳O型
record[column_number 桑原由気くわはらゆうきさん　31歳O型
同じ名前 3
name 桑原由気くわはらゆうきさん　31歳O型
record[column_number 桑原由気くわはらゆうきさん　31歳O型
同じ名前 4
name 桑原由気くわはらゆうきさん　31歳O型
record[column_number 辻坂茜つじさかあかねさん　？歳A型
違う名前 5
200
name 辻坂茜つじさかあかねさん　？歳A型
record[column_number 米丸歩よねまるあゆみさん　？歳？型
違う名前 1
40

In [298]:
concat_image_path

NameError: name 'concat_image_path' is not defined

In [295]:
url = 'https://netwadai.com/blog/post-2363'
universary_df  = pd.read_html(url)[0]
universary_df = universary_df.rename(columns={0:'日付',1:'何の日？'})
universary_df = universary_df[~universary_df['日付'].str.contains('記念日一覧')]
universary_df = universary_df[~universary_df['日付'].str.contains('2月29日')]
#pd.DataFrame(columns=['month', 'day', 'name','affiliation'])
display(universary_df)
tomorrow_str:str = tomorrow.strftime("%m月").lstrip('0') + tomorrow.strftime("%d日").lstrip('0') 
extract_universary_df = universary_df[universary_df['日付'].str.contains(tomorrow_str)]
extract_universary_df

         日付                                               何の日？
1      1月1日  神戸港記念日。元旦。鉄腕アトムの日。初詣。太陽暦施行の日。点字新聞創刊記念日。 パブリックド...
2      1月2日                           ロケットの日。初夢。初売り・初荷・初商・書き初め
3      1月3日                                瞳の日。駆け落ちの日。戊辰戦争開戦の日
4      1月4日                                       石の日。御用始め・大発会
5      1月5日        いちごの日。囲碁の日。シンデレラの日。魚河岸初競り。つむぎの日。ホームセキュリティの日
..      ...                                                ...
372  12月26日          ボクシング・デー。プロ野球誕生の日（ジャイアンツの日）。雪印の日。聖ステファノの日
373  12月27日                                  ピーターパンの日。浅草仲見世記念日
374  12月28日          ディスクジョッキーの日。身体検査の日。仕事納め・官公庁御用納め。シネマトグラフの日
376  12月30日                         地下鉄記念日。取引所大納会。フィリピン・リサールの日
377  12月31日                       大晦日。シンデレラデー。除夜。大祓。ニューイヤーズ・イヴ

[364 rows x 2 columns]

        日付              何の日？
181  6月24日  UFO記念日。ドレミの日。麦の日

['キャラクター名', '登場作品']

In [186]:
column_number = 0
df_columns_list[column_number]

'キャラクター名'

In [253]:
index_number

25

In [ ]:

for i,month in enumerate(soup.find_all(True, class_='accordion main_c')):
    #print(month)
    i += 1
    month_str :str = i 
    month.find_all('p')
    for p_text in month.find_all('p'):
        if p_text.text.replace('日','').isalnum():
            day = p_text.text.replace('日','')
        else:
            for row in p_text.text.replace(')','）').split('）'):
              try:
                  name = row.split('（')[0].replace(' ','').replace(' ','')
                  affiliation = row.split('（')[1].replace('(仮','(仮)')
                  #print(name,)
                  record = pd.DataFrame({'month': [month_str],
                      'day': [day],
                      'name': [name],
                      'affiliation':[affiliation]})
                  concat_df = pd.concat([concat_df,record],axis=0)
              except:
                  pass