In [3]:
import requests  
import requests
import bs4
import time
import pandas as pd
concat_df = pd.DataFrame(columns=['month', 'day', 'name','affiliation'])
# GETメソッドによるWebページの取得
url = f'https://sulocale.sulopachinews.com/archives/209'
print(url)
res = requests.get(url)
soup = bs4.BeautifulSoup(res.text, 'html.parser')
print(soup.title.text)
for i,month in enumerate(soup.find_all(True, class_='accordion main_c')):
    #print(month)
    i += 1
    month_str :str = i 
    month.find_all('p')
    for p_text in month.find_all('p'):
        if p_text.text.replace('日','').isalnum():
            day = p_text.text.replace('日','')
        else:
            for row in p_text.text.replace(')','）').split('）'):
              try:
                  name = row.split('（')[0].replace(' ','').replace(' ','')
                  affiliation = row.split('（')[1].replace('(仮','(仮)')
                  #print(name,)
                  record = pd.DataFrame({'month': [month_str],
                      'day': [day],
                      'name': [name],
                      'affiliation':[affiliation]})
                  concat_df = pd.concat([concat_df,record],axis=0)
              except:
                  pass
    


  #break

# Webページの内容
  # 出力結果は省略

# ステータスコード

https://sulocale.sulopachinews.com/archives/209
誕生日一覧

In [16]:
concat_df.to_csv('brithday_df.csv',index=False)

In [19]:
concat_df = pd.read_csv('csv/brithday_df.csv')

In [20]:
concat_df['date'] = str(today.year) +'/' + concat_df['month'].astype(str) + '/' + concat_df['day'].astype(str)
concat_df['date'] = pd.to_datetime(concat_df['date'], format='%Y/%m/%d')
concat_df

      month  day              name      affiliation       date
0         1    1                モモ        アニマルマンション 2023-01-01
1         1    1  ラインハルト・ヴァン・アストレア  Re:ゼロから始める異世界生活 2023-01-01
2         1    1          才賀エレオノール         からくりサーカス 2023-01-01
3         1    1               角谷杏       ガールズ＆パンツァー 2023-01-01
4         1    1              アシリパ         ゴールデンカムイ 2023-01-01
...     ...  ...               ...              ...        ...
2197     12   31             山田一二三      ダンガンロンパシリーズ 2023-12-31
2198     12   31               黎星刻           コードギアス 2023-12-31
2199     12   31                雪泉            閃乱カグラ 2023-12-31
2200     12   31          キャロライン雷電          宇宙戦艦ヤマト 2023-12-31
2201     12   31           ヴィリディアナ     ガールズアンドパンツァー 2023-12-31

[2202 rows x 5 columns]

In [8]:
# 明日の日付を生成
import datetime
today = datetime.date.today()
tomorrow = today + datetime.timedelta(days=1)


#明日の誕生日の人を抽出
#extract_df = concat_df[concat_df['day'] == '明日']

## 声優の誕生日データのスクレイピング

In [23]:
url = f'https://sulocale.sulopachinews.com/archives/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/{tomorrow.strftime("%m%d")}'
print(url)
birthday_dfs = pd.read_html(url)
birthday_dfs
#pd.DataFrame(columns=['month', 'day', 'name','affiliation'])
for df in birthday_dfs:
    display(df)

https://sulocale.sulopachinews.com/archives/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/0623

                                 0
0                        6月23日が誕生日
1                   ？ アサギ（ボンバーガール）
2         ？ 劉備玄徳りゅうびげんとく（一騎当千シリーズ）
3            ？ 日野道生ひのみちお（蒼穹のファフナー）
4  ？ 秋月律子あかづきりつこ （アイドルマスターミリオンライブ）
5           ？ 雀明華ちぇーみょんふぁ（咲-Saki-）
6                  ？ Bさん（BBステーション）

                        0
0  ？ 高木裕平たかぎゆうへいさん 36歳 ？型
1             ゴウセル（七つの大罪）
2  新多ジン（株式会社アラジン イメージキャラ）

                        0
0  ？ 菱田盛之ひしだもりゆきさん 56歳 B型
1              伊達政宗（花の慶次）

                                   0
0             ？ 竹達彩奈たけたつあやなさん 33歳 O型
1                    桃子ももこ（モモキュンソード）
2               南野カナみなみのかな（沖ドキ！シリーズ）
3                 ミント・クラーク （Rioシリーズ）
4                 ミレイユ・アントワネット（銀河乙女）
5             ベリア（Girls Guns Groovy）
6                      ユウナ（ギラギラ爺サマー）
7            塔城小猫とうじょうこねこ（ハイスクールD×D）
8       萩原さくらはぎわらさくら（世界でいちばん強くなりたい!）
9   天刀もよてんとうもよ （ウィザード・バリスターズ 弁魔士セシル）
10                     ツグミ（ギルティクラウン）
11  希里ありすまれさとありす （学園黙示録ハイスクールオブザデッド）
12           島田愛里寿しまだありす（ガールズ＆パンツァー）
13      スプーキーブーギー 、菅原昭子（PSYCHO-PASS）
14              井ノ上あせびいのうえあせび（ベン・トー）
15         小日向いちごこひなたいちご（ガールフレンド(仮)）
16                          ねね（天下布武）
17                        魔魅（ラグナドール）
18                リーファ（ソードアート・オンライン）
19               蟲喰恵利美むしばみえりみ（賭ケグルイ）
20                  アリナ・グレイ（マギアレコード）
21                         ジール（武装神姫）
22   フレデリカ（痛いのは嫌なので防御力に極振りしたいと思います。）

                      0
0  ？ 山根希美やまねのぞみさん ？歳 ？型
1        ジャベリン（アズールレーン）

    0   1
0 NaN NaN

In [32]:

birthday_text = birthday_dfs[0].loc[0][0]
print(birthday_text)

6月23日が誕生日

In [38]:
for text in birthday_dfs[0][0][1:]:
    text = text.replace(')','）').replace('？','')
    charactor_name = text.split('（')[0].replace(' ','').replace(' ','')
    charactor_affiliation = text.split('（')[1].replace('(仮','(仮)').replace('）','')
    print(charactor_name,charactor_affiliation)

アサギ ボンバーガール
劉備玄徳りゅうびげんとく 一騎当千シリーズ
日野道生ひのみちお 蒼穹のファフナー
秋月律子あかづきりつこ アイドルマスターミリオンライブ
雀明華ちぇーみょんふぁ 咲-Saki-
Bさん BBステーション

In [ ]:

res = requests.get(url)
soup = bs4.BeautifulSoup(res.text, 'html.parser')
print(soup.title.text)
for i,month in enumerate(soup.find_all(True, class_='accordion main_c')):
    #print(month)
    i += 1
    month_str :str = i 
    month.find_all('p')
    for p_text in month.find_all('p'):
        if p_text.text.replace('日','').isalnum():
            day = p_text.text.replace('日','')
        else:
            for row in p_text.text.replace(')','）').split('）'):
              try:
                  name = row.split('（')[0].replace(' ','').replace(' ','')
                  affiliation = row.split('（')[1].replace('(仮','(仮)')
                  #print(name,)
                  record = pd.DataFrame({'month': [month_str],
                      'day': [day],
                      'name': [name],
                      'affiliation':[affiliation]})
                  concat_df = pd.concat([concat_df,record],axis=0)
              except:
                  pass